@import '../../fonts.css';

.container {
    padding: 0vh 10vw 0vh 10vw;
    margin: 0;
    height: 100%;
}

.gridContainer{
    display: grid;
    height: 40vh;
    width: 100%;
    margin: 0;
    padding: 0;
    grid-template-columns: 40% 60%;
}

.col.popular{
    padding: 0;
    background-color: aqua;
    height: 100%;
}

.col.todayPicks{
    padding: 0;
    background-color: pink;
    height: 100%;
}

.content.container{
    height: 60vh;
    background-color: mediumseagreen;
    display: flex;
    justify-content: center;
}