.container {
    height: 70rem;
}

.center {
    justify-content: center;
    flex-direction: column;
}

.header {
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;
}

h1 {
    font-size: 2.2rem;
}

p {
    font-size: 1.7rem;
    margin-left: 0.7rem;
}

@media only screen and (min-width: 991px) {
    .text-body {
        margin-left: 5.5%;
    }
    h1 {
        font-size: 5rem;
    }
    
    p {
        margin-top: -1rem;
        font-size: 3rem;
    }
}