@import '../../fonts.css';

.navbar.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 5vh;
    padding: 6vh 15vw 2.5vh 15vw;
    font-weight: bold;
}

.logo {
    height: 100%;
    min-width: 20px;
    min-height: 4vh;
}

nav {
    padding-top: 3vh;
    display: flex;
    color: #ffffff;
    margin-bottom: 3vh;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin-right: 1.5vw;
    margin-left: 1.5vw;
    justify-content: center;
    align-items: center;
    align-content: center;
}

nav a {
    color: black;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 1.1em;
}

.writeSymbol {
    height: 20px;
}

.startButton {
    display: 'flex';
    border-radius: 30px;
    background-color: #3D3FEB;
    padding: 1.6vh 1.5vw 1.6vh 1.5vw
}

.startButton > a {
    color: white;
}

/* breakpoint for smallest browser width.*/
@media (max-width: 800px) {
    .logo{
        display: none;
    }
    
    .navbar.container{
        padding: 6vh 7vw 2.5vh 7vw;
    }

}