@import '../../fonts.css';

.navbar.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: max-content;
    padding: 3.5vh 15vw 0;
    font-weight: bold;
    font-size: 0.8rem;
    border-bottom: 1px solid var(--main-dark-color);
    color: var(--main-dark-color);
}

.logo {
    min-width: 20px;
    height: 4vh;
}

nav {
    height: 9vh;
}

nav ul {
    align-items: center;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
}

nav li {
    margin: 0 1.5vw;
    justify-content: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-bottom: 3px solid transparent;
}

nav a {
    margin: auto 0;
    font-family: 'Inter', sans-serif;
}

nav .active {
    color: var(--emph-color);
    border-bottom: 3px solid var(--emph-color);
}

.writeSymbol {
    height: 20px;
}

.startButton {
    display: 'flex';
    border-radius: 30px;
    background-color: var(--emph-color);
    padding: 1.6vh 1.5vw 1.6vh 1.5vw;
}

.startButton>a {
    color: white;
}

/* breakpoint for smallest browser width.*/
@media (max-width: 800px) {
    .logo {
        display: none;
    }

    .navbar.container {
        padding: 6vh 7vw 2.5vh 7vw;
    }

}