@import '../../fonts.css';

.navbar.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* Centers the navbar horizontally */
    background-color: white;
    height: 10vh;
    padding: 6vh 10vw 1vh;
}

.logo {
    display: inline-block;
    height: 100%;
    min-width: 100px;
    min-height: 8vh;
}

nav {
    padding-top: 3vh;
    display: inline-block;
    color: #ffffff;
    align-self: flex-end;
    margin-bottom: 3vh;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin-right: 1vw;
    justify-content: center;
    align-items: center;
    align-content: center;
}

nav a {
    color: black;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 1em;
}

.writeSymbol {
    height: 20px;
}

/* breakpoint for smallest browser width.*/
@media (max-width: 600px) {
    .logo{
        width: 50%;
    }
}